**Working with CSV file**

In [1]:
# write a csv file
with open('students.csv', 'w') as f:
    f.write('id,name,course\n')
    f.write('1,pranto,cse\n')
    f.write('2,jackey,bba\n')

In [2]:
# read the csv file
with open('students.csv', 'r') as f:
    print(f.read())

id,name,course
1,pranto,cse
2,jackey,bba

In [2]:
# create custom data csv
import csv
custom_data = [
    ["user_id", "name", "address"],
    ["1","pranto","dhaka"],
    ["2","jackey","london"],
    ["3","sk","london"],
    ["4","karzon","london"],
    ["5","shamim","dhaka"],

]
with open('custom_data.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(custom_data)

In [5]:
# make operation with csv using pandas
import pandas as pd
data = pd.read_csv("custom_data.csv")
data.head()

   user_id    name address
0        1  pranto   dhaka
1        2  jackey  london
2        3      sk  london
3        4  karzon  london
4        5  shamim   dhaka

In [10]:
print(data[data['address'] == "dhaka"])

   user_id    name address
0        1  pranto   dhaka
4        5  shamim   dhaka

**Woking with JSON**

In [12]:
# write a json file
import json

json_str = {
    "name": "pranto",
    "id": 20101326,
    "dept": "cse",
    "courses": {
        "cse": "cse201",
        "sat": "sat101",
        "eng": "eng111"
    }
}

print(json.dumps(json_str))

{"name": "pranto", "id": 20101326, "dept": "cse", "courses": {"cse": "cse201", "sat": "sat101", "eng": "eng111"}}

In [13]:
# create a json file
with open('json_file.json', 'w') as f:
    json.dump(json_str, f)

In [25]:
# operations with json file
with open('json_file.json', 'r') as f:
    data = json.load(f)
    print(f'full data: {data}')

print(f'name: {data["name"]}')
print(f'id: {data["id"]}')
print(f'dept: {data["dept"]}')
print(f'courses: {data["courses"]["eng"]}')

# insert new data to json
data["courses"]["bba"] = "bba101"
print(f'new courses: {data["courses"]}')

# update data in json
data["name"] = "mahdi pranto"
print(f'updated name: {data["name"]}')

full data: {'name': 'pranto', 'id': 20101326, 'dept': 'cse', 'courses': {'cse': 'cse201', 'sat': 'sat101', 'eng': 'eng111'}}
name: pranto
id: 20101326
dept: cse
courses: eng111
new courses: {'cse': 'cse201', 'sat': 'sat101', 'eng': 'eng111', 'bba': 'bba101'}
updated name: mahdi pranto

In [26]:
# delete a item in json
data.pop("id")
print(f'deleted dept: {data}')

# save updated data to the actual json file
with open("output_updated.json", "w", encoding="utf-8") as f:
    json.dump(data, f, indent=2)

deleted dept: {'name': 'mahdi pranto', 'dept': 'cse', 'courses': {'cse': 'cse201', 'sat': 'sat101', 'eng': 'eng111', 'bba': 'bba101'}}